@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "flatpickr/dist/flatpickr.min.css";

.markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  margin: auto;
}

.markdown-body p:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* Code blocks */
.markdown-body pre {
  background-color: rgba(175, 184, 193, 0.2);
  padding: 1em;
  overflow-x: auto;
  border-radius: 6px;
  font-size: 0.9em;
  line-height: 1.4;
}

.markdown-body code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.2em 0.4em;
  border-radius: 4px;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 85%;
}

.markdown-body pre code {
  background: none;
  padding: 0;
}

.input[readonly].flatpickr-input {
  cursor: pointer !important; /* or default */
  border-color: rgb(var(--color-surface-400)) !important;
}
